In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from ipywidgets import widgets
from ipywidgets.widgets import fixed
from min3pTecTools import importTimeSeries, plotBreakthrough

In [23]:
def importFile(fileName):
    with open(fileName) as f:
        f.readline()
        headerLine = f.readline()    
    columnHeaders = headerLine[11:]
    columnHeaders = columnHeaders.replace("'", "")
    columnHeaders = columnHeaders.replace('"', "")
    columnHeaders = columnHeaders.replace('(yrs)', "")
    columnHeaders = columnHeaders.replace(' ', "")
    columnHeaders = columnHeaders.rstrip()
    columnHeaders = columnHeaders.rstrip(',')
    columnHeaders = columnHeaders.split(',')
    
    df = pd.read_csv(fileName, engine='python', sep='\s+', skiprows=[0,1,2], names=columnHeaders)
    return df, columnHeaders

def plotFunc_1D(variable, plotVar, dataFrame):
    fig, ax = plt.subplots()
    ax.plot(variable, dataFrame.loc[:, plotVar])
    
def plotFunc_2D(variable1, variable2, plotVar, dataFrame):
    fig, ax = plt.subplots()
    sc=ax.scatter(variable1,variable2, c=dataFrame.loc[:, plotVar])
    plt.colorbar(sc)

In [24]:
os.chdir("/Users/hjb62/MIN3P/Examples/benchmarks_standard/reactran/dissol")

In [25]:
#1D Widgets
fileName = 'dissol_1.gst'
df, headerNames = importFile(fileName)
display(df)

plotVar = widgets.ToggleButtons(
    options=headerNames,
    description='',
    disabled=False,
    button_style='')

#change the dependant value (which is currently 'z' below)
widgets.interact(plotFunc_1D, variable=fixed(df.loc[:, 'z']), plotVar=plotVar, dataFrame=fixed(df))

          x    y    z       h+1     co3-2      ca+2
0     0.000  0.0  0.0  0.019389  0.010170  0.000475
1     0.005  0.0  0.0  0.019389  0.010170  0.000475
2     0.010  0.0  0.0  0.019389  0.010170  0.000475
3     0.015  0.0  0.0  0.019389  0.010170  0.000475
4     0.020  0.0  0.0  0.019389  0.010170  0.000475
...     ...  ...  ...       ...       ...       ...
6556  0.380  0.0  0.4  0.000215  0.000269  0.000169
6557  0.385  0.0  0.4  0.000215  0.000269  0.000169
6558  0.390  0.0  0.4  0.000215  0.000269  0.000169
6559  0.395  0.0  0.4  0.000215  0.000269  0.000169
6560  0.400  0.0  0.4  0.000215  0.000269  0.000169

[6561 rows x 6 columns]

interactive(children=(ToggleButtons(description='plotVar', options=('x', 'y', 'z', 'h+1', 'co3-2', 'ca+2'), va…

In [22]:
#Basic 2D widgets
fileName = 'dissol_1.gst'
df, headerNames = importFile(fileName)
display(df)

plotVar = widgets.ToggleButtons(
    options=headerNames,
    description='',
    disabled=False,
    button_style='')

#change the dependant value (which is currently 'z' below)
widgets.interact(plotFunc_2D, variable1=fixed(df.loc[:, 'x']), variable2=fixed(df.loc[:, 'z']), plotVar=plotVar, dataFrame=fixed(df))

          x    y    z       h+1     co3-2      ca+2
0     0.000  0.0  0.0  0.019389  0.010170  0.000475
1     0.005  0.0  0.0  0.019389  0.010170  0.000475
2     0.010  0.0  0.0  0.019389  0.010170  0.000475
3     0.015  0.0  0.0  0.019389  0.010170  0.000475
4     0.020  0.0  0.0  0.019389  0.010170  0.000475
...     ...  ...  ...       ...       ...       ...
6556  0.380  0.0  0.4  0.000215  0.000269  0.000169
6557  0.385  0.0  0.4  0.000215  0.000269  0.000169
6558  0.390  0.0  0.4  0.000215  0.000269  0.000169
6559  0.395  0.0  0.4  0.000215  0.000269  0.000169
6560  0.400  0.0  0.4  0.000215  0.000269  0.000169

[6561 rows x 6 columns]

interactive(children=(ToggleButtons(description='plotVar', options=('x', 'y', 'z', 'h+1', 'co3-2', 'ca+2'), va…